#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #d25b41;
}

#mainNav .navbar-brand {
  color: #ffffff;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #cbcbcb;
}

